body {    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.header {
    padding-top: 63px;
}
.header__logo {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    text-decoration: none;
}
.header__logo_blue {
    color: #4BCAFF;
}
nav {
    background-color: #35444F;
    margin-top: 40px;
}
.header__menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 988px;
}
.header__menu_item{
    border-left: 1px solid #fff ;
    padding: 26px 36px 19px;
    text-align: center;
    cursor: pointer;
}
.header__menu_item:last-child{
    border-right: 1px solid #fff ;
}
.header__menu_item:hover{
    background: #222F3A;
}
.header__menu_link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}
.main{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.aside__menu{
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.aside__menu_item{
    padding: 27px;
    cursor: pointer;
}
.aside__menu_link {
    font-size: 27px;
    line-height: 27px;
    text-decoration: none;
    color: #485863;
}
.aside__menu_item:hover{
    padding-left: 55px;
    background: #DBDBDB;
}
.aside__menu_item:hover a {
    color: #35444F;
}
.article{
    width: 885px;
}
.article__div{
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.article__img{
    width: 320px;
    height: 381px;
    transition: transform 0.3s ease 0s;
}
.article__div:hover .article__img{
    transform: scale(1.2);
    transition: transform 0.5s ease 0s;
}
.article__text{
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
footer{
    margin: 54px 0 30px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    padding: 0px 40px;
}
.footer__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 875px;
}
.footer__menu_item {
    cursor: pointer;
}
.footer__menu_link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
}
.footer__menu_item:hover .footer__menu_link{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 10px;
}
.footer__text{
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
